<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>

  <body>
    <section class="l-container l-container--strong">
      <div class="l-content">
        <h1 class="a-heading a-heading--primary a-heading--inverse u-center">URL Shortener</h1>
      </div>
    </section>
  </body>
</html>
