<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>

  <body>
    <section class="l-container l-container--strong">
      <div class="l-content">
        <h1 class="a-heading a-heading--primary a-heading--inverse u-center">URL Shortener</h1>
        <form class="m-form" action="/" method="POST">
          <fieldset>
            <div class="m-form__group m-form__group--inline">
              <input class="a-input" type="text" name="url" placeholder="Enter link to shorten" required/>
              <input class="a-button" type="submit" value="Shorten"/>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </body>
</html>
