body {
  font-family: 'Overpass', sans-serif;
  color: $color-black;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: $color-green;

  &:hover {
    color: $color-dark-green;
  }
}

p {
  margin-top: 0;
}

::selection {
  color: $color-white;
  background-color: $color-green;
}
::-moz-selection {
  color: $color-white;
  background-color: $color-green;
}
