body {
  font-family: 'Overpass', sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

::selection {
  color: $color-white;
  background-color: $color-green;
}
::-moz-selection {
  color: $color-white;
  background-color: $color-green;
}
